.App {
  text-align: center;
  width: 60%;
  background-color: cornflowerblue;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 3%;
}
.result {
  height: 60px;
  background-color: white;
  width: 100%;
  color: skyblue;
}

.result p {
  font-size: 40px;
}

.calc-body {
  max-width: 300px;
  margin: auto;
}

.buttons {
  display: block;
  background-color: white;
}
.buttons button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid lightgrey;
  color: skyblue;
}